<div id="dialog-confirm" class="hide">
    <div class="alert alert-info bigger-110">
        
    </div>

    <div class="space-6"></div>

    <p class="bigger-110 bolder center grey">
        <i class="fa fa-hand-o-right blue bigger-120"></i>
        Are you sure?
    </p>
</div>